body{
    background: #6faae2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}
#trainName {
  float:left;
}



.card-header{
    background: #6faae2;
}
#submit-train, #clear {
    border: 0;
    background: #6faae2;
    border-radius: 10px;
    padding: 13px;
    width: 14%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: rgb(19, 18, 18);
}
#train-list, th,
    td {
      display: inline-block;
      width: 16.575%;
    }
